<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>MONITOR</title>
		<script src="jquery.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="monitor_handle.js"></script>
		<link rel="stylesheet" type="text/css" href="monitor_layout.css" />
	</head>
	<body>
		<div id="wrapper">
			<!--Danh sách trực tuyến-->
			<div id="list">
				<div id="title">DANH SÁCH TRỰC TUYẾN</div>
				<div id="user"></div>
			</div>
		</div>
	</body>
</html>
